body{
font-family:Arial;
background:#f3f3f3;
}

.player{
max-width:600px;
margin:auto;
background:white;
padding:40px;
border-radius:10px;
}

button{
display:block;
margin:10px 0;
padding:12px;
font-size:16px;
width:100%;
}

#progress{
margin-bottom:20px;
font-weight:bold;
}

.login-box{
max-width:400px;
margin:auto;
background:white;
padding:30px;
}

.result{
max-width:500px;
margin:auto;
background:white;
padding:40px;
text-align:center;
}